sigma-cli
pySigma==1.2.0
pyparsing==3.1.4
pySigma-backend-splunk
pySigma-backend-microsoft365defender
pySigma-backend-qradar
pySigma-backend-cortexxdr
pySigma-pipeline-windows
pySigma-pipeline-sysmon
yamllint
